.gellery{
    padding: 0px 140px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.gellery-info{
    padding: 30px;
}
.orange{
    color: orange;
}
.gellery-info h1{
    font-size: 40px;
    font-weight: 900;
}

.review-title{
    margin-bottom: 80px;
}

.gellery-btn{
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    background-color: #1a1918;

}
.gellery-btn:hover{
    background-color: white;
    color: black;
}

.customer-reviews {
   
    margin: 0px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
}


button.reviews-see {
    padding: 10px 20px;
    border: navajowhite;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 50px;
    background: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button.reviews-see:hover{
    background-color: black;
    color: wheat;
}